<main>
	<img
		id="sadFaceImg"
		src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png"
		alt="sad face"
	/>
	<h1>404</h1>
	<h2>Page not found</h2>
</main>

<footer class="page-footer font-small">
	<div class="footer-copyright text-center py-3">© 2021
		<a href="/">Video Tutorials</a>
	</div>
</footer>

{{! <div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Video Tutorials</a>

		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
				<a class="nav-link" href="/">Home </a>
			</li> }}

{{!-- <li class="nav-item">
				<a class="nav-link" href="#">Welcome, {{username}}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Logout</a>
			</li> --}}

{{! <li class="nav-item">
				<a class="nav-link" href="/login">Login</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/register">Register</a>
			</li>

		</ul>
	</nav> }}

{{! </div> }}