<main>
		<form
			class="text-center border border-light p-5"
			action="/create/course"
			method="POST"
		>
			<h1>Create Course</h1>
			<div class="form-group">
				<label for="name">Course Title</label>
				<input
					type="text"
					class="form-control"
					placeholder="Course name"
					name="title"
					value="{{title}}"
				/>
			</div>
			<div class="form-group">
				<label for="name">Course Description</label>
				<textarea
					class="form-control"
					placeholder="Description"
					name="description"
				>{{description}}</textarea>
			</div>
			<div class="form-group">
				<label for="image">Image url</label>
				<input
					type="text"
					class="form-control"
					placeholder="Image Url"
					name="imgUrl"
					value="{{imgUrl}}"
				/>
			</div>
			<div class="form-check">
				<input
					type="checkbox"
					class="form-check-input"
					id="check-box"
					name="isPublic"
					{{#if isPublic}}
					checked
					{{/if}}
				/>
				<label class="form-check-label" for="check-box">Public</label>
			</div>
			<button
				type="submit"
				class="btn btn-primary"
				
			>Submit</button>
		</form>
	</main>

	<footer class="page-footer font-small">
		<div class="footer-copyright text-center py-3">© 2021
			<a href="/">Video Tutorials</a>
		</div>
	</footer>

{{!-- <div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Video Tutorials</a>

		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
				<a class="nav-link" href="/">Home </a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Welcome, {{username}}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Logout</a>
			</li>

			{{! <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li> }}

		</ul>
	</nav> --}}

	{{! <section class="notifications">
		<p class="notification-message">Message...</p>
	</section> }}

{{!-- 
</div> --}}